{% extends 'base.html.twig' %}

{% block title %}Enter Reset Code{% endblock %}

{% block body %}
    <h1>Enter Reset Code</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <form method="post" action="{{ path('app_enter_reset_code') }}">
        <div>
            <label for="email">Email address:</label>
            <input type="email" id="email" name="email" required>
        </div>

        <div>
            <label for="code">Reset Code:</label>
            <input type="text" id="code" name="code" maxlength="6" required>
        </div>

        <div>
            <label for="password">New Password:</label>
            <input type="password" id="password" name="password" required>
        </div>

        <button type="submit">Reset Password</button>
    </form>
{% endblock %}
