{% extends 'base.html.twig' %}

{% block title %}Paiement Réussi{% endblock %}

{% block body %}
    <div style="text-align: center; margin-top: 50px;">
        <h1>✅ Paiement effectué avec succès !</h1>
        <p>Merci pour votre achat. Une confirmation vous a été envoyée par e-mail.</p>
        <a href="{{ path('user_livre_index') }}">Retour à l'accueil</a>
    </div>
{% endblock %}
